@import "../../../global_variables.scss";

.navbar {
  background-color: $darkBlue;
  color: $white !important;

  a.nav-link,
  a.navbar-brand {
    color: $white;
  }
  li {
    list-style: none !important;
  }
}
